html {
    color: #f2f4fb;
}

/* latin */
@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Aclonica Regular'), local('Aclonica-Regular'), url(https://fonts.gstatic.com/s/aclonica/v10/K2FyfZJVlfNNSEBXGY7UAo8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
  @font-face {
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Vidaloka '), local('Vidaloka-Regular'), url(https://fonts.gstatic.com/s/vidaloka/v12/7cHrv4c3ipenMKlEavs7wH8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-banner {
    display: flex;
    justify-content: center;
    font-family: "Aclonica";
    background-color: #0900C3;
    height: 150px;
    font-size: 40px;
}

.left-side-nav {
    display: flex;
    justify-content: left;
    align-self: flex-start;
    height: 507px;
    width: 175px;
    padding-right: inherit;
    background-color: #6F0765;
    font-family: "Vidaloka";
    font-size: 20px;
}

.sign-in-button button {
    display: flex;
    align-self: center;
    color: black;
}

.sign-in-button {
    display: flex;
    align-self: center;
}

.username {
    display: flex;
    align-self: center;
    color: black;
    
}

.password { 
    display: flex;
    align-self: center;
    color: black;
}

.forgot-password {
    display: flex;
    align-self: center;
    font: "Vidaloka";
}